<div class='row'>
  <div class='col hide-on-small-only m3 l2'>
    <div id='countdown-wrapper' class="pinned">
      <%=render '/static_pages/partials/countdown' %>
    </div>
      </div>
 <div id="banner" class="row">
	   <section id='home' class='section scrollspy'>
		   		<div class='col s12 m12 l6 offset-l8 right'>
  			   	<div id='rsvp-card' class='card right'>
  						<%= render partial: '/users/partials/table' %>
			    </div>
		   </div>
	   </section>
</div>

  <section id="bridegroom" class='section scrollspy'>
      <%=render '/static_pages/partials/bridegroom' %>
  </section>

  <div class='hide-on-med-and-down'>
    <div id="index-banner" class="parallax-container">
      <div class="parallax"><%=image_tag('parallax2.jpg')%></div>
    </div>
  </div>

  <section id="weddingparty" class='section scrollspy'>
    <%=render '/static_pages/partials/weddingparty' %>
  </section>

<div class='hide-on-med-and-down'>
   <div id="index-banner" class="parallax-container ">
    <div class="parallax"><%=image_tag('parallax3.jpg')%></div>
  </div>
</div>

    <section id="details" class='section scrollspy'>
      <%=render '/static_pages/partials/details' %>
    </section>
