<div class="container">
<h1>Bride & Groom</h1>
<div class="row">
<!-- Sarah McCarville -->
	<div class="col s12 m12 l6">
		<div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag('sarah.jpg', class:'activator') %>
        </div>
        <div class="card-content center-align">
          <span class="card-title activator grey-text text-darken-4">Sarah McCarville</span>
          <p><a href="#">The Bride</a></p>
        </div>

			</div>
    </div>

<!-- Colin Montgomery -->
	<div class="col s12 m12 l6">
		 <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag('colin.jpg', class:'activator') %>
        </div>
        <div class="card-content center-align">
          <span class="card-title grey-text text-darken-4 ">Colin Montgomery</span>
          <p><a href="#">The Groom</a></p>
        </div>
      </div>
	  </div>
	</div>
  </div>
