<div class="container">
	<h1>Details</h1>
	<div class="row">
		<div class="col s12 m12 l4 center">
			<div class="card">
				<div class='card-image'>
					<%= image_tag ('schedule.jpg') %>
					<span class="card-title">Schedule</span>
				</div>
				<ul>
					<li>Ceremony: 2:30pm</li>
					<li>Reception: 6:00pm</li>
					<li>Dance: 9:00pm</li>
				</ul>
			</div>
		</div>
		<div class='col s12 m12 l4 center'>
			<div class="card">
				<div class="card-image">
					<%=image_tag('shipyard.jpg') %>
					<span class="card-title">Location</span>
				</div>
					<p class='center'>
						Shipyard Market</br>370 Water St, Summerside, PE </br>C1N 1C4
					</p>
			</div>
		</div>
	<div class='col s12 m12 l4 center'>
		<div class="card">
			<div class='card-image'>
				<%= image_tag('loyalist.jpg') %>
				<span class="card-title">Hotels</span>
			</div>
			<ul>
				<li>Loyalist</li>
				<li>Linkletter</li>
				<li>Quality Inn</li>
			</ul>
		</div>
	</div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5503.595989711357!2d-63.788634804316665!3d46.39323145700509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x5deec1f56a727999!2sLobster+House+Restaurant+%26+Oyster+Bar!5e0!3m2!1sen!2sca!4v1431978022757" class="z-depth-2 embed-responsive-item" width="100%" height = "400"
max-width="65%"  frameborder="0" style="border:0"></iframe>
</div>
</div>
</div>
</div>
