<div class='container'>
	<h1>Wedding Party</h1>
	<!--Cody & Emily-->
	<div class="row"	>
	<div class="col s12 m12 l6">
	  <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag('cody.jpg', class:'activator') %>
        </div>
        <div class="card-content center-align">
          <span class="card-title activator grey-text text-darken-4">Cody Montgomery</span>
          <p><a href="#">Best Man</a></p>
        </div>

				</div>
      </div>

		<div class="col s12 m12 l6">
	   <div class="card ">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag('emily.jpg', class:'activator') %>
        </div>
        <div class="card-content center-align">
          <span class="card-title activator grey-text text-darken-4">Emily McCarville</span>
          <p><a href="#">Maid of Honor</a></p>
        </div>

      </div>
		</div>
	  </div>

	  <!-- Josh & Amanda -->

			<div class="row">
			<div class="col s12 m12 l6">
	   <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag('josh.jpg', class:'activator') %>
        </div>
        <div class="card-content center-align">
          <span class="card-title activator grey-text text-darken-4">Josh Harvey</span>
          <p><a href="#">Groomsman</a></p>
        </div>

				</div>
      </div>


	<div class="col s12 m12 l6">
	   <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag('amanda.jpg', class:'activator') %>
        </div>
        <div class="card-content center-align">
          <span class="card-title activator grey-text text-darken-4">Amanda Lefurgey</span>
          <p><a href="#">Bridesmaid</a></p>
        </div>

      </div>
			</div>
	  </div>

	  <!-- Andrew & Becca-->

			<div class="row">
				<div class="col s12 m12 l6">
	   <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag('andrew.jpg', class:'activator') %>
        </div>
        <div class="card-content center-align">
          <span class="card-title activator grey-text text-darken-4">Andrew McCarville</span>
          <p><a href="#">Groomsman</a></p>
        </div>

				</div>
      </div>


	<div class="col s12 m12 l6">
	   <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag('becca.jpg', class:'activator') %>
        </div>
        <div class="card-content center-align">
          <span class="card-title activator grey-text text-darken-4">Becca Griffin</span>
          <p><a href="#">Bridesmaid</a></p>
        </div>

      </div>
			</div>
	  </div>

	  <!-- Willie & Kate -->

			<div class="row">
		<div class="col s12 m12 l6">
	   <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag('willie.jpg', class:'activator') %>
        </div>
        <div class="card-content center-align">
          <span class="card-title activator grey-text text-darken-4">Willie Macguigan</span>
          <p><a href="#">Groomsman</a></p>
        </div>

				</div>
      </div>


	<div class="col s12 m12 l6">
	   <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag('katelyn.jpg', class:'activator') %>
        </div>
        <div class="card-content center-align">
          <span class="card-title activator grey-text text-darken-4">Katelyn Kelly</span>
          <p><a href="#">Bridesmaid</a></p>
        </div>

      </div>
	  </div>
</div>
