<div class="container">
<h1>List of users</h1>

<table id="index-table" class"bordered">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Attending</th>
    <th>Meal</th>
    <th>Food Restrictions</th>
    <th>Comments</th>
    <th>Date</th>
	<th>Edit</th>
  </thead>
  <tbody>
    <% @user.each do |u| %>
      <tr>
        <td>
          <%= u.id %>
        </td>
        <td>
          <%=u.name %>
        </td>
        <td>
          <%=u.email %>
        </td>
        <td>
          <%=u.attending %>
        </td>
        <td>
          <%=u.meal %>
        </td>
        <td>
          <% if u.food == "Yes" %>
            <%= u.food_restrictions %>
          <% else %>
            <%= u.food %>
          <% end %>
        </td>
        <td>
          <% if u.attending == "Yes" %>
          <%=u.comments%>
          <% else %>
          <%=u.not_coming%>
          <% end %>
        </td>
        <td>
          <%=u.updated_at.strftime('%B %e at %l:%M %P') %>
        </td>
		<td>
		 <!-- Modal Trigger -->
			<a href= <%="#myModal_#{u.id}" %> class="btn modal-trigger">Edit</a>
				<!-- RSVP Modal   -->
				<div id=<%="myModal_#{u.id}" %> class="modal">
					<%= render 'users/partials/edit', user: u%>
				</div>

		</td>
      </tr>
      <% end %>
  </tbody>
</table>
