<div class='container center'>
  <div class='card-panel'>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Food Restrictions:</strong>
      <% if @user.food == "Yes" %>
        <%= @user.food_restrictions %>
      <% else %>
        <%= @user.food %>
      <% end %>
    </p>

    <p>
      <strong>Attending:</strong>
        <%= @user.attending %>
    </p>

    <p>
      <strong>Meal:</strong>
        <%= @user.meal %>
    </p>


    <p>
      <strong>Comments:</strong>
        <%= @user.comments %>
    </p>
    <p>
      <%= link_to "Edit", edit_user_path(@user),class:"btn" %>
  </div>
</div>
