<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Attending:</strong>
    <%= @user.attending %>
</p>

<p>
  <strong>Meal:</strong>
    <%= @user.meal %>
</p>


<p>
  <strong>Comments:</strong>
    <%= @user.comments %>
</p>
