<div class="container">
  <h1 class="text-center">Please RSVP</h1>

  <% if @rsvp.errors.any? %>
  <div class="row red-text">
    <ul>
      <% @rsvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <!--<form class="form-horizontal"> -->
    <%=form_for @rsvp do |f| %>
      <form>
          <!-- Name -->
          <div class="input-field">
          <i class="mdi-action-account-circle prefix"></i>
          <%=f.label :name, "Name:" %>
          <%=f.text_field :name, class: "validate" %>
        </div>

          <!-- Email -->
         <div class="input-field">
          <i class="mdi-communication-email prefix"></i>
          <%=f.label :email, "Email: "%>
          <%=f.email_field :email, class: "validate" %>
            </div>


          <!-- Coming? -->
        <div>
          <p>Attending:</p>

            <%=f.radio_button :selection,   "Yes"  %>
            <%=f.label :selection, "Yes", id:'radio_yes', value:"Yes"%>

            <%=f.radio_button :selection, "No"  %>
            <%=f.label :selection, "No", id:'radio_no', value:"No" %>
        </div>

            <!-- # of guests -->
        <div class='attending'>
          <div class="input-field">
            <%=f.label :guests, "Number of guests in your party: " %>
            <%=f.text_field :guests, class: "validate" %>
          </div>

            <!-- Food Restrictions -->
          <div class="input-field">
           <%=f.label :guest_names, "Food Restrictions: " %>
           <%=f.text_area :guest_names, class: "materialize-textarea"%>
          </div>

            <!-- Comments -->
          <div class="input-field">
           <%=f.label :comments, "Comments for the Bride and Groom " %>
           <%=f.text_area :comments, class: "materialize-textarea"%>
          </div>
        </div>


            <!-- Not attending Comments -->
        <div class="not-attending ">
          <div class="input-field">
            <%=f.label :comments, "Aww, :( Please feel free to leave a message for us! " %>
              <%=f.text_area :comments, class: "materialize-textarea" %>
                <div class="col-sm-8 "></div>
          </div>
        </div>

          <!-- Submit Button-->
        <div>
            <%= button_tag( :class => "z-depth-2 btn waves-effect waves-light") do %>
             Submit <i class="mdi-content-send right"></i>
            <% end %>
        </div>
        </form>

  <% end %>
</div>
