<div class="container">
<h1>List of RSVPs</h1>
<table class="responsive-table hoverable">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Coming?</th>
    <th># of guests</th>
    <th>Food Restrictions</th>
    <th>Comments for us :)</th>
    <th colspan="2"></th>
  </tr>
  <% @rsvp.each do |rsvp| %>
    <tr>
      <td>
        <%= rsvp.id %>
      </td>
      <td>
        <%=rsvp.name %>
      </td>
      <td>
        <%=rsvp.email %>
      </td>
      <td>
        <%=rsvp.selection %>
      </td>
      <td>
        <%=rsvp.guests %>
      </td>
      <td>
        <%=rsvp.food_restrictions %>
      </td>
      <td>
        <%=rsvp.comments %>
      </td>
      <td>
        <%=rsvp.created_at.strftime('%Y-%m-%d %H-%M-%S') %>
      </td>
      <td>
        <%=link_to "Delete", rsvp_path(rsvp), method: :delete, data: {confirm: "Are you sure?"} %>
    </tr>
    <% end %>
</table>
<%=link_to "Back", new_rsvp_path %>
</div>
