<div class="container">
<div class="row"></div>
	<h1>Thanks for RSVPing!</h1>
	<p>You will recieve an email confirmation shortly, if you do not receive an email within the hour please email Colin</p>
	<%= link_to 'Back', static_pages_Home_path %>
</div>
