<div class="modal-content" id='rsvp-modal'>
	<div class="container">
			<div class="card">


<!--<form class="form-horizontal"> -->
	<%=form_for user, url: user_path(user), method: :patch, remote:true, :html => { :'data-type' => 'html', :id => 'edit-user-form' } do |f| %>

	<% if user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


      <form>
		<div class='row'>
          <!-- Name -->
			<div class='col s12 m12 l12'>
				<h2 class='flow-text'><%=user.name%>!</h2>
			</div>
			<div class='col s12 m12 l12'>
				<!--Attending-->
				<div>
						<p>Attending:</p>

						<%=f.radio_button :attending,   "Yes"  %>
						<%=f.label :attending, "Yes", id:'radio_yes', value:"Yes"%>

						<%=f.radio_button :attending, "No"  %>
						<%=f.label :attending, "No", id:'radio_no', value:"No" %>
				</div>
			</div>
		</div>
		<div class='row'>
		 <!-- Email -->
			<div class='col s12 m12 l12'>
				<div class="input-field">
					<i class="mdi-communication-email prefix"></i>

					 <%=f.label :email, "Email"%>
					 <%=f.email_field :email, value: "#{user.email}", class: "validate" %>
				</div>
			</div>
		</div>
		<!-- Attending -->
<div class="attending">

				<div class='row'>
            <!-- Meal Choice -->
			<div class='col s12 m12 l12'>
          <p>Meal Selection:</p>

			   <%=f.radio_button :meal,   "Turkey"  %>
			   <%=f.label :meal, "Turkey", value:"Turkey"%>

			   <%=f.radio_button :meal, "Haddock"  %>
			   <%=f.label :meal, "Haddock", value:"Haddock" %>
      </div>
		</div>
	<div class='row'>
	<!-- Food Restrictions -->
		<div id='food-yes-no' class='col s12 m12 l12'>
			<p>Food Restrictions:</p>
			<%=f.radio_button :food, "Yes"  %>
			<%=f.label :food, "Yes",id:'food_yes', value:"Yes"%>

			<%=f.radio_button :food, "No"  %>
			<%=f.label :food, "No", id:'food_no', value:"No" %>
		</div>
	</div>

	<div class='row'>
		<div class='col s12 m12 l12'>
			<div class="input-field" id='restrictions'>
				<%=f.label :food_restrictions, "" %>
				<%=f.text_area :food_restrictions, class: "materialize-textarea"%>
			</div>
		</div>
	</div>


	<!-- Comments -->
	<div class='row'>
	<div class='col s12 m12 l12'>
		<div class="attending">
          <div class="input-field">
           <%=f.label :comments, "Comments for the Bride and Groom " %>
           <%=f.text_area :comments, class: "materialize-textarea"%>
          </div>
			</div>
		</div>
  </div>
</div>

            <!-- Not attending  -->
        <div class="not-attending ">
					<div class='row'>

						<!-- Not attending comments -->
						<div class='center-align'>
		          <div class="input-field">
		            <%=f.label :not_coming, "Aww, :( Please feel free to leave a message for us! " %>
		              <%=f.text_area :not_coming, class: "materialize-textarea" %>
		                <div class="col-sm-8 "></div>
		          </div>
						</div>

						</div>
	        </div>

          <!-- Submit Button-->
        <div class='row'>
					<div class='center-align'>
            <%= button_tag( id: "form-modal-submit", :class => "rsvp-submit z-depth-2 btn waves-effect waves-light", data: { disable_with: "Please wait...", modal:"#myModal_#{user.id}", name:user.name, email:user.email}) do %>
             Submit <i class="mdi-content-send right"></i>
            <% end %>
					</div>
        </div>
        </form>
  <% end %>
</div>
	</div>
</div>
