<div id="Announcement" class='row'>
  <h1>Colin & Sarah</h1>
  <p>are getting</p>
  <h1>Married!</h1>
</div>

<div class="container">
  <table id="my-mobile-table">
    <thead>
      <th></th>
  	<th></th>
    </thead>
    <tbody>
  	  <% @user.each do |user| %>
        <tr>
          	<td>
            		<%=user.name %>
          	</td>
  			<td>
  			<a href= <%="#myModal_#{user.id}" %> class="rsvp-modal btn modal-trigger">RSVP</a>
  				<!-- RSVP Modal   -->
  				<div id=<%="myModal_#{user.id}" %> class="modal">
  					<%= render 'users/partials/edit', user: user %>
  				</div>

  		  </td>
        </tr>
        <% end %>
    </table>
    </tbody>
  </table>
</div>
