<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class='container'>
      <% if @user.attending == 'Yes' %>
      <h1><%= @user.name %> is coming to your wedding!</h1>
      <p>
         They used the email <%= @user.email %>, are eating <%= @user.meal %> and left the following comment: </br>
      </p>
      <p>
        <%= @user.comments %>
      </p>
      <% else %>
      <h1><%= @user.name %> can't come to your wedding :(</h1>
      <p>
         But they left the following comment: </br>
      </p>
      <p>
        <%= @user.comments %>
      </p>
      <% end %>
    </div>
  </body>
</html>
