// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 @font-face {
  font-family: "Material-Design-Icons";
  src: url("/assets/material-design-icons/Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("/assets/material-design-icons/Material-Design-Icons.woff2") format("woff2"), url("/assets/material-design-icons/Material-Design-Icons.woff") format("woff"), url("/assets/material-design-icons/Material-Design-Icons.ttf") format("truetype"), url("/assets/material-design-icons/Material-Design-Icons.svg#Material-Design-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }

  @font-face {
  font-family: "Roboto";
  src: url("../assets/roboto/Roboto-Thin.woff2") format("woff2"), url("../assets/roboto/Roboto-Thin.woff") format("woff"), url("../assets/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: url("../assets/roboto/Roboto-Light.woff2") format("woff2"), url("../assets/roboto/Roboto-Light.woff") format("woff"), url("../assets/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("../assets/roboto/Roboto-Regular.woff2") format("woff2"), url("../assets/roboto/Roboto-Regular.woff") format("woff"), url("../assets/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../assets/roboto/Roboto-Medium.woff2") format("woff2"), url("../assets/roboto/Roboto-Medium.woff") format("woff"), url("../assets/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("../assets/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }


#new_rsvp > div:nth-child(8) {
  padding-top:3%;
  padding-bottom: 3%;
}

h1 {

  font-family: 'Dancing Script';
}

#banner {
	background-image: image-url('top.jpg');
  background-size: cover;
}

#rsvp-card {
	text-align: center;
  width: 400px;
  height: 600px;
  margin-right: 75px;
  margin-bottom: 100px;
}

.dataTables_filter {
  width:90%;
  padding-right:30px;
}

#Announcement {
  font-family: 'Dancing Script';
}

#countdown-wrapper {
  z-index: 5;
}

@media #{$medium-and-down} {
  #banner {
    background-image: image-url('top-mobile.jpg');
    margin-right:0px;
  }
.wedding {
    font-size: 12px;
  }
}

.wedding {
  font-family: 'Dancing Script';
  font-size: 18px;
}

#edit-user-form {
  padding: 15px;
}
