<!DOCTYPE html>
<html>
<head>

  <title>Colin & Sarah's Wedding</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body class='grey lighten-4'>
 <div class="navbar-fixed">
  <nav id='nav' >
   <div class="nav-wrapper red darken-1">
     <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
     <div class="container ">
       <a  class="navbar-brand page-scroll" href="#home">Home</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          
          <li ><a class='page-scroll' href="#bridegroom">bride&groom</a></li>
          <li><a class='page-scroll' href="#weddingparty">wedding party</a></li>
          <li><a class='page-scroll' href="#details">details</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a class='page-scroll' href="#bridegroom">bride&groom</a></li>
          <li><a class='page-scroll' href="#weddingparty">wedding party</a></li>
          <li><a class='page-scroll' href="#details">details</a></li>
        </ul>
       </div>
      </div>
  </nav>
 </div>


    <%= yield %>

    <footer class="page-footer red darken-4">
      <div class="container ">
        <%= mail_to "wedding@colinandsarah.ca", "Email: wedding@colinandsarah.ca", class:'white-text' %>
      </div>
    </footer>
</body>
</html>
