<!DOCTYPE html>
<html>
<head>

  <title>Colin & Sarah's Wedding</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body class='grey lighten-4'>
 <div class="navbar-fixed">
  <nav id='nav'>
   <div class="nav-wrapper red base">
     <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
     <div class="container">
     	<%= link_to "Home", root_url %>
        <ul class="side-nav" id="mobile-demo">
          <%= link_to "Home", root_url %>
        </ul>
       </div>
      </div>
  </nav>
 </div>

    <%= yield %>

</body>
</html>
